<nav class="grey darken-3">
    <div class="nav-wrapper container">
        <a href="/NorthQueue" class="brand-logo center"> Adler Queue</a>
        <button class="btn red darken-2 right"><a href="/auth/logout">Logout</a></button>
        <ul class="topnav" id="mobile-demo">
            <li><a href="/NorthQueue">North Lab Queue</a></li>
            <li><a href="/SouthQueue">South Lab Queue</a></li>
            <br>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>