<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="row">
    <div class="adminColumn">
        <div class="card">
            <h2>Admin Control Panel</h2>

            <form action="/grades" method="POST" id="delete-form">
                <input type="hidden" name="_method" value="DELETE">
                <button type="deleteRequest" class="btn red darken-4">
                    <h6 for="deleteRequest">Delete all Grades</h6>
                </button>
            </form>
            <form action="/HelpRequestNorth" method="POST" id="delete-form">
                <input type="hidden" name="_method" value="DELETE">
                <button type="deleteRequest" class="btn red darken-4">
                    <h6 for="deleteRequest">Delete all North Help Requests</h6>
                </button>
            </form>
            <form action="/HelpRequestSouth" method="POST" id="delete-form">
                <input type="hidden" name="_method" value="DELETE">
                <button type="deleteRequest" class="btn red darken-4">
                    <h6 for="deleteRequest">Delete all South Help Requests</h6>
                </button>
            </form>

            <h6>Adler Lab Queue</h6>
        </div>
    </div>
</div>