<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

{{!-- Empty Row Div to ensure cards are aligned properly --}}
<div class="row">
    <div class="row center">
    </div>
</div>

<div class="row">
    <div class="adminColumn1">
        <div class="card">
            <h2>Admin Control Panel</h2>

            <form action="/grades" method="POST" id="delete-form">
                <input type="hidden" name="_method" value="DELETE">
                <button type="deleteRequest" class="btn red darken-4">
                    <h6 for="deleteRequest">Delete all Grades</h6>
                </button>
            </form>
            <form action="/clearUsers" method="POST" id="delete-form">
                <input type="hidden" name="_method" value="DELETE">
            </form>
            <form action="/HelpRequestNorth" method="POST" id="delete-form">
                <input type="hidden" name="_method" value="DELETE">
                <button type="deleteRequest" class="btn red darken-4">
                    <h6 for="deleteRequest">Clear North Requests</h6>
                </button>
            </form>
            <form action="/HelpRequestSouth" method="POST" id="delete-form">
                <input type="hidden" name="_method" value="DELETE">
                <button type="deleteRequest" class="btn red darken-4">
                    <h6 for="deleteRequest">Clear South Requests</h6>
                </button>
            </form>
            
            <h6>Admin Controls</h6>
        </div>
    </div>
    <div class="adminColumn2">
        <div class="card">
            <h2>Add Teaching Assistants</h2>
            <form action="/deptPortal" method="POST" class="col s12">
                <div class="row">
                    <div class="input-field">
                    <input type="text" id="taName" name="taName">
                    <label for="taName">Enter name to add to TA List</label>
                </div>
                </div>
                <div class="row">
                    <input type="submit" value="Add TA" class="btn green">
                </div>
            </form>
            <table>
                <thead>
                    <tr>
                        <th>TA Name</th>
                        <th>Date Added</th>
                        <th>Remove TA</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each taNames}}
                        <tr>
                            <td>{{taName}}</td>
                            <td>{{formatDate dateAdded ' MMMM DD YYYY @ h:mm:ss a'}}</td>
                            <td> 
                                <form action="/deptPortal/{{_id}}" method="POST" id="delete-form">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="deleteRequest" class="btn red btn-delete">
                                        <a>Delete TA</a>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>

            <h6>TA Names</h6>
        </div>
    </div>
</div>