<h3><i class="fa-solid fa-list"></i> Adler Queue</h3>
<div class="section">
    <p class="lead">Ole Miss CSCI Lab Queue</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn blue darken-1">
        <i class="fab fa-google left"></i> Google Login
    </a>
</div>